.text_area {
	width: 100%;
	border: 1px solid #efefef;
	resize: none;
}
.colorpicker-wrapper {
    position: relative;
  
    .colorpicker {
      position: absolute;
      z-index: 99999;
      right: 0;
      top: -250px;
    }
  
    .rect {
      border: 1px solid #fff;
      width: 20px;
      height: 20px;
    }
  }  
  .help-block{
    margin-bottom: 10px;;
  }